html {
    height: 100%;
}
body {
    text-align: center;
    background-image: linear-gradient(-45deg, #333,#030a0f);
    margin: 0;
    height: 100%;
    line-height: 1.4em;
    font-family: 'Montserrat';
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    width: 65%;
}
.card {
    margin: 80px 0;
    background: #3a555f;
    max-width: 400px;
    min-width: 290px;
    padding: 50px 30px 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    flex: 0 0 100px;
    border: 2px solid #b9b9b9;
}
.card .avatar {
    max-width: 40%;
    height: auto;
    border-radius: 100px;
    background: #333;
    border: 2px solid #b9b9b9;
}
.card h2 {
    margin: 20px auto;
    color: #000;
    letter-spacing: 0.05em;
    width: 0px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 12px solid #b9b9b9;
    animation: blink 0.75s step-end infinite, 
            expand 3s 2s steps(12, end) forwards;
}
.card p {
    margin: 0;
    color: #b9b9b9;
    font-size: 1.2em;
}
hr {
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    margin: 20px 0;
}
li {
    list-style-type: none;
    margin: 10px auto;
}
a {
    color: #fff;
    text-decoration: none;
}
.card ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
li img {
    width: 45%;
    min-width: 40px;
}
li img:hover {
    filter:invert(70%);
}
.footer {
    width: 70%;
    min-width: 290px;
    max-width: 400px;
}
.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
.footer a {
    color: #b9b9b9;
    font-size: .9em;
}
.footer a:hover {
    text-decoration: underline;
}

/* // Animations // */
@keyframes blink {
    0% {border-color: transparent;}
    50% {border-color: #b9b9b9;}
    100% {border-color: transparent;}
}
@keyframes expand {
    0% {width: 0px}
    100% {width: 190px;}
}